.container {
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin: 10px;
    min-height:300px;
    min-width:300px;   
  }
  
  .title {
    margin-top: 20px;
    text-align: center;
  }
  
  tr {
    height: 40px !important;
  }
  
  th {
    max-width: 120px;
    min-width: 120px;
    padding: 0 !important;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center !important;
  }
  
  td {
    height: 40px !important;
    padding: 5px !important;
    text-align: center !important;
  }
  